<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>go-gin-chat 聊天室</title>
    <link rel="stylesheet" href="//s2.pstatp.com/cdn/expire-1-M/twitter-bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/rolling/css/rolling.css">
    <link rel="stylesheet" href="/static/stylesheets/style.css?v=3">
    <link rel="stylesheet" href="/static/emoji/emojionearea.min.css">
    <link rel="shortcut icon" href="/static/favicon.ico" type="image/x-icon" />
</head>
<body id="body-room" class="room" data-uid="{{ .user_info.uid }}" data-username="{{ .user_info.username }}"
      data-avatar_id="{{ .user_info.avatar_id }}" data-room_id="{{ .room_id }}">

<div class="scrollbar-macosx">
    <div id="mescroll" class="main container mescroll">
        <div class="col-md-12">
            <ul class="chat_info">

                <li id="chat-list-li-top" class="systeminfo">
                    <span style="cursor: pointer;">
                         提示：点击加载更多消息
                    </span>
                </li>

                <li id="hidden-chat-list-li-top" data-offset="100" data-list-cout="{{ .msg_list_count }}" style="display: none"></li>


                {{$uid:= .user_info.uid}}
                {{$nullSrl:= ""}}

                {{range .msg_list}}

                    {{if eq $uid .user_id}}

                        <li class="right" data-msg-id="{{ .id }}" data-created-at="{{ .created_at }}">
                            <img src="/static/images/user/{{ .avatar_id }}.png" alt="">
                            <b>{{ .username }}</b>
                            <i>{{ .created_at }}</i>

                            {{ if eq .image_url $nullSrl }}

                            <div class="msg-content {{if .is_recalled}}recalled{{end}}">{{ .content }}</div>
                                {{else}}
                            <div class="msg-content {{if .is_recalled}}recalled{{end}}"><img class="load-img" data-src="{{ .image_url }}" src="https://cdn.jsdelivr.net/gh/hezhizheng/static-image-hosting@master/image-hosting/20210420094013_LVZYIITUUVRWREEE.jpg"/></div>
                                {{end}}
                            {{if not .is_recalled}}
                            <span class="recall-btn" onclick="recallMessage({{ .id }}, '{{ .created_at }}')">撤回</span>
                            {{end}}
                        </li>

                    {{else}}

                        <li class="left" data-msg-id="{{ .id }}">
                            <img src="/static/images/user/{{ .avatar_id }}.png" alt="">
                            <b>{{ .username }}</b>
                            <i>{{ .created_at }}</i>
                            {{ if eq .image_url $nullSrl }}

                                <div class="msg-content {{if .is_recalled}}recalled{{end}}">{{ .content }}</div>
                            {{else}}
                                <div class="msg-content {{if .is_recalled}}recalled{{end}}"><img class="load-img" data-src="{{ .image_url }}" src="https://cdn.jsdelivr.net/gh/hezhizheng/static-image-hosting@master/image-hosting/20210420094013_LVZYIITUUVRWREEE.jpg"/></div>
                            {{end}}
                        </li>

                    {{end}}
                {{end}}


            </ul>
        </div>
    </div>
    <div class="input">
        <div class="center">
            <div class="tools">

                <span class="glyphicon glyphicon-picture imgFileico"></span>

                <input type="file" class="imgFileBtn hidden" accept="image/*">

            </div>
            <div class="text">
                <div class="col-xs-12 col-sm-12">
                    <input type="text" id="emojionearea2" placeholder="输入聊天信息...">
                </div>
            </div>
            <div class="_submit">
                <div class="col-xs-12 col-sm-12 text-right">
                    <a id="subxx" role="button"><span class="glyphicon glyphicon-share-alt"></span></a>
                </div>
            </div>
        </div>
    </div>
</div>
</body>

<script type="text/javascript" src="//s2.pstatp.com/cdn/expire-1-M/jquery/1.11.2/jquery.min.js"></script>
<script type="text/javascript" src="//s2.pstatp.com/cdn/expire-1-M/twitter-bootstrap/3.3.5/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/static/rolling/js/rolling.js"></script>
<script type="text/javascript" src="/static/javascripts/websocket-heartbeat.js"></script>
<script type="text/javascript" src="/static/javascripts/Public.js?v=4"></script>
<script type="text/javascript" src="/static/emoji/emojionearea.min.js"></script>
<script type="text/javascript" src="//s2.pstatp.com/cdn/expire-1-M/layer/3.1.1/layer.min.js"></script>
<script type="text/javascript" src="/static/javascripts/load-msg-more.js?v=3"></script>

<script>
    $(document).ready(function () {
        // 滚动到底部
        toLow();

        // 检查并隐藏超过2分钟的撤回按钮
        checkRecallButtons();
        setInterval(checkRecallButtons, 10000); // 每10秒检查一次
    });

    // 检查撤回按钮是否应该显示
    function checkRecallButtons() {
        $('.right[data-msg-id]').each(function() {
            let createdAt = $(this).attr('data-created-at');
            if (createdAt && !isWithinRecallTime(createdAt)) {
                $(this).find('.recall-btn').hide();
            }
        });
    }

    // 判断是否在2分钟内
    function isWithinRecallTime(createdAt) {
        let msgTime = new Date(createdAt).getTime();
        let now = new Date().getTime();
        return (now - msgTime) < 2 * 60 * 1000; // 2分钟
    }

    // 撤回消息
    function recallMessage(messageId, createdAt) {
        // 确保 messageId 是数字
        var numericMessageId = parseInt(messageId);
        if (isNaN(numericMessageId)) {
            layer.msg('消息ID无效');
            return;
        }

        if (!isWithinRecallTime(createdAt)) {
            layer.msg('消息发送超过2分钟，无法撤回');
            return;
        }

        layer.confirm('确定要撤回这条消息吗？', {
            btn: ['确定', '取消']
        }, function(index) {
            layer.close(index);
            $.ajax({
                url: '/recall-message',
                type: 'POST',
                data: {
                    message_id: numericMessageId
                },
                success: function(res) {
                    if (res.code === 0) {
                        // 通过WebSocket通知对方
                        let send_data = JSON.stringify({
                            "status": 6,
                            "data": {
                                "uid": $('.room').attr('data-uid').toString(),
                                "username": $('.room').attr('data-username'),
                                "avatar_id": $('.room').attr('data-avatar_id'),
                                "room_id": $('.room').attr('data-room_id'),
                                "content": numericMessageId.toString(),
                            }
                        });
                        if (typeof ws !== 'undefined' && ws.readyState === WebSocket.OPEN) {
                            ws.send(send_data);
                        }

                        // 本地更新UI
                        updateRecalledMessage(numericMessageId);
                        layer.msg('消息已撤回');
                    } else {
                        layer.msg(res.msg || '撤回失败');
                    }
                },
                error: function() {
                    layer.msg('网络错误，请重试');
                }
            });
        });
    }

    // 更新已撤回消息的UI
    function updateRecalledMessage(messageId) {
        let msgLi = $('li[data-msg-id="' + messageId + '"]');
        if (msgLi.length > 0) {
            msgLi.find('.msg-content').addClass('recalled').text('消息已撤回');
            msgLi.find('.recall-btn').remove();
        }
    }

    // 撤回临时消息（服务器还未返回真实ID的消息）
    function recallTempMessage(btn, tempId) {
        layer.confirm('确定要撤回这条消息吗？', {
            btn: ['确定', '取消']
        }, function(index) {
            layer.close(index);
            // 直接删除临时消息DOM
            let msgLi = $('li[data-msg-id="' + tempId + '"]');
            if (msgLi.length > 0) {
                msgLi.remove();
                layer.msg('消息已撤回');
            }
        });
    }
</script>

<script>
    $("#emojionearea2").emojioneArea({
        pickerPosition: "top",
        tonesStyle: "radio",
        events: {
            keyup: function (editor, event) {
                if (event.which == 13) {
                    $('#subxx').click();
                }
            }
        }
    })
</script>

</html>